/.env
/vendor/
/vendor
/application/vendor/
/vendor/bin/
/node_modules/
/storage/logs/
/storage/cache/
/uploads/
/temp/
/application/logs/
/application/cache/
/application/logs/*
/application/cache/*
/application/logs/.htaccess
/application/cache/.htaccess
*.sql
/.htaccess
/.php-cs-fixer.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea/
